@import '_bootstrap';
#mapHolder, #mapSortie, #mapEntry {
	display: block; 
	height: 500px;
	margin-top:15px;
	.infoHolder{
		display: block;
		width: 300px;
		.infoName{
			margin: 0px 0px 10px 0px;
			padding:0px;
			font-size:18px;
			font-weight: bold;
			text-transform: uppercase;
			display: block;
			width: 200px;

		}
		.infoDescription{
			margin: 0px;
			padding:0px;
			font-size:14px;
			display: block;
			width: 200px;
		}
		.infoImage{
			float: right;
			display: block;
			width: 100px;
			height: 100px;
			margin-right: 0px;
			overflow: hidden;
			img{
				display: block;
				width: 100%;
			}
		}
	}
}
#mapSortie{
	height:800px;
}